fastapi
uvicorn[standard]
python-multipart
scikit-learn
pandas
numpy
spacy
PyPDF2
pdfplumber
joblib
Faker
nltk
docx2txt
pdfminer.six
pytesseract
PyMuPDF
python-docx
Pillow
sentence-transformers
faiss-cpu
loguru
slowapi
